.rules-intro-container {
  padding: 1vh 0 1.5vh 0;
  font-size: 1.5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.rules-intro {
  font-weight: 700;
  text-transform: uppercase;
}

.rules-intro-footer {
  font-size: 1.25vw;
  font-style: italic;
}

.rules-desc-container {
  text-align: center;
}

.rules-title {
  font-size: 1.75vw;
  font-weight: 400;
}

.rules-table {
  width: 90%;
  margin: 0 auto;
  th {
    width: 50%;
    background-color: #e0dfdb;
    font-size: 1.25vw;
    font-weight: 400;
  }
  td {
    font-size: 1.15vw;
  }
  th,
  td {
    padding: 0.55vh 0.35vw;
    border: 0.175vw solid var(--text-color);
  }
}

.action-description {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.extra-desc {
  font-size: 1.05vw;
  font-style: italic;
  line-height: 1;
}

.character-action-entry {
  line-height: 1.2;
  white-space: pre-wrap;
}

.character-footer {
  color: #7c7c7c;
}

.rules-pagebar {
  position: absolute;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
}
